# Virtual environment
kenv/
env/
.kenv/
kenv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Jupyter
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/